export TF_VAR_TOR_OS_NETWORK_NAME=""
export TF_VAR_TOR_OS_FLAVOR_NAME=""
export TF_VAR_TOR_OS_IMAGE_NAME=""
export TF_VAR_TOR_OS_EXT_NET_POOL=""
export TF_VAR_TOR_OS_KEYPAIR_NAME=""

export TF_VAR_SSH_PUB_KEY_LOCATION=""
export TF_VAR_SSH_PRIV_KEY_LOCATION=""

export TF_VAR_TOR_RELAY_NODE_COUNT=""
export TF_VAR_TOR_RELAY_NICKNAME=""
export TF_VAR_TOR_EXIT_NODE_COUNT=""
export TF_VAR_TOR_EXIT_NICKNAME=""

export TF_VAR_ANSIBLE_RELAYOR_PLAYBOOK_PATH=""
export TF_VAR_ANSIBLE_PLAYBOOK_USER=""
